* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1d1d1d;
}
.big {
  width: 100%;
  height: 61px;
  border-bottom: 1px solid #666;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 15%;
  height: 100%;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.menu {
  width: 15%;
  height: 100%;
  display: flex;
}
.menu-item {
  width: 33%;
  height: 100%;
  border-left: 1px #666 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-item i {
  color: #666;
  font-size: 15px;
}

.menu .menu-item:hover i {
  color: aqua;
}
.menu-item .drop {
  position: absolute;
  width: 400px;
  height: 350px;
  background-color: #161616;
  z-index: 1;
  top: 60px;
  right: 0px;
  display: none;
}
.menu-item .drop .dropchild {
  width: 360px;
  height: 50px;
  margin: auto;
  border-bottom: dashed grey 1px;
  display: flex;
  align-items: center;
}
.menu-item .drop .dropchild1 {
  border-bottom: none;
}
.menu-item .drop .dropchild p {
  font-weight: bold;
  color: aliceblue;
  margin-left: 20px;
}
#check:checked ~ * .drop {
  display: block;
}
#check {
  display: none;
}
.menu-item .drop2 {
  position: absolute;
  width: 400px;
  height: 350px;
  background-color: #161616;
  z-index: 1;
  top: 60px;
  right: 0px;
  display: none;
}
.menu-item .drop2 .dropchild2 {
  width: 360px;
  height: 50px;
  margin: auto;
  border-bottom: dashed grey 1px;
  display: flex;
  align-items: center;
}
.menu-item .drop2 .dropchild3 {
  border-bottom: none;
}
.menu-item .drop2 .dropchild2 p {
  font-weight: bold;
  color: aliceblue;
  margin-left: 20px;
}
#check1:checked ~ * .drop2 {
  display: block;
}
#check1 {
  display: none;
}

.big2 {
  width: 80%;
  display: grid;
  grid-template-columns: 277px 277px 277px 277px;
  grid-template-rows: 195px 195px 195px;
  gap: 15px;
  margin: auto;
  justify-content: space-around;
  margin-top: 10px;
}
.child {
  position: relative;
}
.child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.child p {
  color: aliceblue;
}
.text {
  position: absolute;
  border-radius: 15px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
}

.child:hover .text p {
  color: aqua;
}
.big3 {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
button {
  width: 100%;
  height: 41px;
  border-radius: 15px;
  background-color: #1d1d1d;
}
button:hover {
  background-color: blue;
}
.banner {
  width: 80%;
  height: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.banner img {
  width: 100%;
  height: 100%;
}
.big4 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big4 h1 {
  color: gray;
  font-size: x-large;
  border-radius: 15px;
}
.big5 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;  */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big5 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big5 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big5 .gol .child .text p {
  font-size: 15px;
  padding: 15px;
}
.big5 .child:hover .text {
  display: block;
  color: blue;
}
.big5 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big6 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big6 h1 {
  color: gray;
  font-size: x-large;
}
.big7 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big7 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big7 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big7 .gol .child .text {
  font-size: 15px;
  padding-left: 15px;
}
.big7 .child:hover .text {
  display: block;
  color: blue;
}
.big7 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big8 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big8 h1 {
  color: gray;
  font-size: x-large;
}
.big9 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big9 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big9 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 10px;
  color: red;
}
.big9 .gol .child .text p {
  font-size: 13px;
  padding-left: 15px;
}
.big9 .child:hover .text {
  display: block;
  color: blue;
}
.big9 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big10 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big10 h1 {
  color: gray;
  font-size: x-large;
}
.big11 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big11 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big11 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big11 .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big11 .child:hover .text {
  display: block;
  color: blue;
}
.big11 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big12 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big12 h1 {
  color: gray;
  font-size: x-large;
}
.big13 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big13 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big13 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big13 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big13 .child:hover .text {
  display: block;
  color: blue;
}
.big13 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big14 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big14 h1 {
  color: gray;
  font-size: x-large;
}
.big15 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big15 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big15 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big15 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}

.big15 .child:hover .text {
  display: block;
  color: blue;
}
.big15 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big16 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big16 h1 {
  color: gray;
  font-size: x-large;
}
.big17 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big17 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big17 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big17 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big17 .child:hover .text {
  display: block;
  color: blue;
}
.big17 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /* object-fit: cover;  */
}
.big18 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big18 h1 {
  color: gray;
  font-size: x-large;
}
.big19 {
  width: 85%;
  height: 295px;
  margin: auto;
  /* display: flex; 
      justify-content: center; 
      justify-content: space-between;   */
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big19 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big19 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big19 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big19 .child:hover .text {
  display: block;
  color: blue;
}
.big19 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.big20 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big20 h1 {
  color: gray;
  font-size: x-large;
}
.big21 {
  width: 85%;
  height: 295px;
  margin: auto;
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big21 .gol .child {
  width: 200%;
  height: 100%;
  position: relative;
  background-color: aliceblue;
}
.big21 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big21 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big21 .child:hover .text {
  display: block;
  color: blue;
}
.big21 .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /* object-fit: cover;         */
}
.big22 {
  width: 85%;
  height: 25px;
  margin: auto;
  display: flex;
  justify-content: center;
  display: block;
}
.big22 h1 {
  color: gray;
  font-size: x-large;
}
.big23 {
  width: 85%;
  height: 295px;
  margin: auto;
  overflow-x: scroll;
}
.gol {
  width: 200%;
  height: 267px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
}
.big23 .gol .child {
  width: 200%;
  height: 100%;
  background-color: aliceblue;
}
.big23 .gol .child .text {
  position: absolute;
  border-radius: 15px;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.84),
    rgba(128, 128, 128, 0.4)
  );
  padding-top: 200px;
  font-size: 30px;
  color: red;
}
.big23 .gol .child .text p {
  font-size: 15px;
  padding-left: 15px;
}
.big23 .child:hover .text {
  display: block;
  color: blue;
}
.big23 .gol .child img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /* object-fit: contain;  */
}
.input {
  width: 300px;
  height: 40px;
  position: absolute;
  background-color: grey;
  right: 65px;
  border-radius: 25px;
}
.input input {
  margin-top: 5px;
  margin-left: 10px;
}
input[type="text"] {
  right: 50px;
  width: 240px;
  height: 30px;
  border: 0;
  position: absolute;
  outline: 0;
  border-radius: 25px 0 0 25px;
  padding-left: 15px;
}
input[type="submit"] {
  width: 40px;
  height: 30px;
  border: 0;
  outline: 0;
  position: absolute;
  border-radius: 0 25px 25px 0;
  right: 10px;
  background-color: yellow;
}
input:hover {
  transition: ease-out 0.4s;
  color: blue;
}
.big24 {
  width: 100%;
  height: 61px;
  border-top: solid #666 3px;
  border-bottom: solid #666 3px;
  display: flex;
  justify-content: flex-end;
}
.big24 .menu {
  width: 15%;
  height: 100%;
  display: flex;
}
.item {
  width: 33.3%;
  height: 100%;
  border-left: solid #666 3px;
  display: flex;
  justify-content: center;
}
.item i {
  color: grey;
  font-size: large;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.big25 {
  width: 100%;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.big25 p {
  color: grey;
  font-size: x-large;
}
@media screen and (max-width: 960px) {
  .big2 {
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(4, 200px);
  }
}
@media screen and (max-width: 640px) {
  .big .menu {
    width: 30%;
  }
  .big2 {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 200px);
  }
}
@media screen and (max-width: 1024px) {
  .big5 .gol {
    width: 500%;
  }
  .big5 .gol .child {
    width: 45%;
  }
}
@media screen and (max-width: 1024px) {
  .big7 .gol {
    width: 500%;
  }
  .big7 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big9 .gol {
    width: 500%;
  }
  .big9 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big11 .gol {
    width: 500%;
  }
  .big11 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big13 .gol {
    width: 500%;
  }
  .big13 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big15 .gol {
    width: 500%;
  }
  .big15 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big17 .gol {
    width: 500%;
  }
  .big17 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big19 .gol {
    width: 500%;
  }
  .big19 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big21 .gol {
    width: 500%;
  }
  .big21 .gol .child {
    width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .big23 .gol {
    width: 500%;
  }
  .big23 .gol .child {
    width: 40%;
  }
}
